<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Реферативный переводчик</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    {% block base_scripts %}
    <script	type="text/javascript" src="/media/js/jquery/jquery-2.1.1.min.js" ></script>
    <script type="text/javascript" src="/media/js/jquery/jquery-ui.custom.min.js" ></script>
    <script type="text/javascript" src="/media/js/jquery/jquery-ui-1.10.4.min.js" ></script>
    <script type="text/javascript" src="/media/js/angular/angular.min.js" ></script>
    <script type="text/javascript" src="/media/js/bootstrap/bootstrap.js" ></script>
    <script type="text/javascript" src="/media/js/bootstrap/ui-bootstrap-tpls-0.12.0.min.js" ></script>
    <script type="text/javascript" src="/media/js/plugin/bootstrap-fileinput/angular-bootstrap-file-field.js" ></script>
    <script	type="text/javascript" src="/media/js/app.js" ></script>
    {% endblock %}
    {% block add_scripts %}

    {% endblock %}
</head>

<body ng-app="denotatApp">
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Реферативный переводчик</h3>
        </div>
        {% block main %}
        <div class="jumbotron" ng-controller="translationCtrl">
            <form>{% csrf_token %}
                <h2>Реферативный переводчик</h2>
                <p class="lead"><file-field class="link" ng-model="article" limit="limit" error="error">Загрузите</file-field> текст рускоязычной статьи для получения реферата на английском языке</p>
                <p>Размер загруженной статьи: {$ article.size |bytes:2 $}</p>
                <button ng-click="translate()" class="btn btn-success" ng-disabled="isLoad()">Получить реферат</button>
            </form>
        </div>
        <div class="row clearfix"></div>
        <div class="row">
            {$ result.result $}
        </div>

    {% endblock %}
        <footer class="footer">
            <p>© 2015</p>
        </footer>
    </div>
</body>
</html>
